/* admin.css */

/* Header styles */
header {
    text-align: center;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.back-button, .home-button {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

    .back-button:hover, .home-button:hover {
        background-color: #f0f0f0;
    }

.logo-container {
    margin-top: 10px;
}

    .logo-container img {
        max-width: 200px; /* Adjust as needed */
        display: block;
        margin: 0 auto;
    }
